.mat-label .mat-form-field .input{
    color: white;
}

.indigobutton {
    color: white;
    background-color:indigo;
}

.myform{
    margin: 1cm 0 0 1cm;
    display: flex;
    flex-direction: column;
}

.whity {
    color:white;
}