<div class="login-container">

<div class="in-block">
    <h1>Please enter your E-mail</h1>
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label class="label">Username</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="max.mustermann@stud.fra-uas.de">
        <mat-error *ngIf="emailFormControl.hasError('email') 
                        && !emailFormControl.hasError('required')">
            Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
        </mat-error>
    </mat-form-field>

    <div class="div-button">
        <button mat-flat-button [disabled]="isInvalid()" (click)="resetPassword()" class="login-button">Reset</button>
    </div>
</div>
</div>