<mat-list role="list">
    <mat-list-item role="listitem">ID: {{alert.id}}</mat-list-item>
    <mat-list-item role="listitem">Event ID: {{alert.eventId}}</mat-list-item>
    <mat-list-item role="listitem">Event Name: {{alert.eventName}}</mat-list-item>
    <mat-list-item role="listitem">Priority: {{alert.priority}}</mat-list-item>
    <mat-list-item role="listitem">Custom Data: {{alert.customData}}</mat-list-item>
</mat-list>

<button mat-flat-button class="back-button" (click)="back()">Back</button>
