::ng-deep .mat-tab-label {
    color: white;
}

::ng-deep .mat-tab-group{
    color:white;
}

::ng-deep .mat-ink-bar {
    background-color:indigo !important;
}

::ng-deep .mat-ink-label {
    color:white !important;
}

.indigobutton{
    margin-left: 1cm;
    background-color: indigo;
    color: white;
}
